@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16', sans-serif;
}

:root {
  --color-black: #0f0f2f;
  --color-white: #fdfdfd;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;
  --trans: all 400ms ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--color-white);
}